<div class="container mt-4 mb-4" style="width: 500px;">
    <div class="alert alert-info" style=" display: flex " role="alert">
       <span style=" width : 80% " >Bienvenido <%= nombre %> </span>
    </div>
    <div class="alert alert-info" style=" display: flex " role="alert">
        <span>Hace click en lo que quieras comprar!!.</span>
    </div>
</div>